*{
    padding: 0px;
    margin: 0px;
}
#container{
    width: 100%;
    height: 400px;
    background-color: bisque;
    display: flex;
}
.child{
    width: 200px;
    height: 200px;
    background-color: brown;
    border: 2px solid black;
}
.child:hover{
    flex-basis: 600px;
    /* flex:5 1 400px; */ /*all the flex pro used here first-->flex-grow, second-->flex-shrink, third-->height for flex basis.*/
}