*{
    padding: 0px;
    margin: 0px;
}
#container{
    width: 90%;
    height: 200px;
    background-color: lightcoral;
    display: flex;
}
.child{
    width: 100px;
    height: 100px;
    background-color: black;
    border: 2px dotted white;
}
#child1{
    flex-shrink: 3;
}
#child2{
    flex-shrink: 0;
}
#child3{
    flex-shrink: 5;
}