body{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(red,purple); */
    /* background-image: linear-gradient(75deg,red,blue); */
    /* background-image: linear-gradient(30deg,green, orange); */
    background-image: linear-gradient(90deg,
    violet 0% 10%,
    indigo 10% 20%,
    blue 20% 30%,
    green 30% 40%,
    yellow 40% 50%,
    orange 50% 60%,
    red 90% 100%);
}