*{
    margin: 0%;
    padding: 0%;
}
#contianer
{
    width: 100ph;
    height: 150ph;
    background-color: red;
    display: flex ;
    /* flex-direction: column; */
    /* flex-direction: row; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: nowrap; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /*to align content in hori(Start,end,center,space around,space-evenly,space between)*/
    /* flex-direction: column;
    justify-content: space-evenly; */

    align-items: center;
}
.child{
    width: 100px;
    height: 100px;
    background-color: yellow;
    font-size: 60px;
    border: 2px solid lawngreen;
}

